<mat-toolbar color="warn" class="toolbar">
    <div routerLink="/" class="toolbar-content">
        <img src="../../../assets/education.svg" alt="logo">
        <span class="bookstore-text">Bookstore</span>
    </div>
    <span class="spacer"></span>
    <div class="cart-icon">
        <span class="cart-text">cart</span>
        <mat-icon routerLink="cart">shopping_cart</mat-icon>
        <mat-icon routerLink="/" class="exit">exit_to_app</mat-icon>

    </div>
</mat-toolbar>
<router-outlet></router-outlet>