<div>
    <div class="container">
        <img src="../../../assets/orderpic.svg" alt="">
        <div class="centered">Order Placed Successfully</div>
    </div>
    <div>
        <span>
            hurray!!! your order is confirmed the order id is #123456 save the order id for further communication..
        </span>
    </div>
    <div>
        <table>
            <th>
                Email us
            </th>
            <th>
                Contact us
            </th>
            <th>
                Address
            </th>
            <tr>
                <td>Javulmulla8@gmail.com</td>
                <td>9876543210</td>
                <td>#001 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near Kumarakom restaurant, HSR Layout,
                    Bangalore 560034</td>
            </tr>
        </table>
    </div>
    <div>
        <button mat-raised-button color="primary" (click)="onClickShopping()">CONTINUE SHOPPING</button>
    </div>
</div>